ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

a {
    color: blue;
    text-decoration: none;
}
  
a:hover {
    border-bottom: 0.1px solid blue;
    color: blue;
    cursor: pointer;
}

h1 {
    padding-top: 20px;
    margin-top: 0;
  }
  h2,
  h3,
h4 {
    font-weight: normal;
    margin-bottom: 0
}

p {
    margin-top: 0.3em;
    line-height: 150%;
    margin-bottom: 0.3em;
    font-size: medium;
}

    body {
        font-family: "Lato", monospace;
        overflow-wrap: break-word;
        padding-bottom: 1.5em;
        padding-top: 1.5em;
    }

    .container {
        padding: 1em 18em;
    }

    #about {
        padding: 1em 12em;
    }
    #about h2 {
        margin-top: 0.5em;
        padding-bottom: 10px;

    }

    #about h3 {
        font-style: normal;
        font-size: 20px;
        color: gray;
    }

    #about h4 {
        margin-top: 0.5em;
        padding-bottom: 10px;
        font-size: 28px;
    }

    .column1 {
        float: left;
        width: 30%;

    }
    .column2 {
        float: left;
        width: 70%;

    }
    .img {
        width:65%;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media(max-width: 1024px) {
        .container {
            padding: 1em 6em 1em 6em;
        }
        body {
            font-size: 1.1em;
        }
    }
    @media screen and (max-width: 650px) {
        .container {
            padding: 0.5em 2em;
        }
        .column1 {
            width: 100%;
            text-align: center;
        }
        .column2 {
            width: 100%;
        }
        .img{
            width: 40%;	
        }
    }

    .wave {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count:initial;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
    }
    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
    }
    
    .blue-text {
        color: cornflowerblue
    }

    #links {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    }
    
    #links a {
        margin-right: 1em;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    @media (max-width: 650px) {
        .container {
          padding: 0.5em 2em;
        }

        #header {
          display: block !important;
        }
    }
      
    #projects p {
        padding-left: 0.5em;
      }